<div class="flex h-screen">

    <div class="flex w-full px-4 py-2 bg-gray-200 lg:w-1/4">
        dBDNNDBDN
        <div>
            <button class= "items-center justify-center p-0.5 rounded bg-gray-800 focus:outline-none focus:ring-1 focus:ring-gray-500">Show</button>
            <button class= "items-center justify-center p-0.5 rounded bg-gray-800 focus:outline-none focus:ring-1 focus:ring-gray-500">Show</button>
            <button class= "" >three</button>
        </div>
    </div>
</div>    